html{
font-size: 18px;
font-family: Helvetica;
}

/* CSS for header */

#header{
color: white;
height: 70px;
background-color: black;
}
#header img{
height: 1.5rem;
font-size: 1rem;
padding-left: 1rem ;
}
.header_text{
padding: 0.66rem;
width: 960px;
margin-left: 90px;
}

/* CSS for the main content */
#container_1{
height: 25rem;
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#container_1 img{
height: 25rem;
}
.container_block_1{
width: 20rem;
background-color: black;
color: white;
margin-left: 120px;
position: absolute;
top: 9rem;
}
.container_block_1 p:nth-child(1){
font-size: 1rem;
padding-top: 2rem;
padding-left: 3rem;
padding-bottom: 0.25rem;
}
.container_block_1 p:nth-child(2){
font-size: 2rem;
font-weight: bold;
padding-left: 3rem;
padding-bottom: 30px;
}
#contains_2{
display: flex;
flex-direction: column;
}

/* CSS for the menu */
nav{
background-color: firebrick;
color: white;
}
nav ul {
max-width: 960px;
margin: 0 auto;
text-align: center;
display: flex;
justify-content: space-between;
}
nav.desktop ul li {
display: inline;
padding: 0.75rem 0;
}

nav.tablet{
  display:none;
}

/* CSS for the 3 blocks*/
.container_block_2{
width: 960px;
margin: 3rem auto;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.image{
border: 4px solid black;
width: 30%;
display: flex;
flex-direction: column;
}
.img {
height: 9rem;
padding: 2rem 0;
display: flex;
justify-content:center;
align-items: center;
}
.img img{
max-width: 8rem;
}
.text{
background-color: black;
color: white;
display: block;
padding: 0.5rem;
text-align: center;
}

/* CSS for the location & hours section*/

.container_block_3{
width: 960px;
margin: auto;
margin-bottom: 4rem;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.location{
width: 120px;
background-color: black;
color: white;
padding: 1rem 2rem;

}
.hours{
width: 120px;
background-color: black;
color: white;
padding: 1rem 2rem;
}

/* CSS for the footer */
footer{
height: 9rem;
background-color: black;
color: white;
}
footer div{
width: 960px;
text-align: left;
margin: auto;
padding-top: 5rem;
}

/* CSS responsive */
@media screen and (max-width:1200px){
.image:nth-child(3){
display:none;
}
.container_block_1{
margin-left: 0;
}
.container_block_2{
display: flex;
justify-content: space-between;
}
.image{
width: 47%;
}
.img img{
max-width: 47%;
}
.location,
.hours {
width: 35%;
}
footer div{
text-align: left;
margin: 0;
}
.header_text{
margin-left: 0;
}
nav.desktop ul li{
display: none;
}
nav.tablet{
display: block;
}
nav.tablet p{
margin: 0 auto;
text-align: center;
padding: 0.75rem 0;
}
}

@media screen and (max-width: 480px){
body{
max-width: 480px !important;
overflow-x: hidden;
}
main{
overflow-x: hidden;
width: 100% !important;
}
#container_1{
/*max-width: 480px;*/
}
.container_block_1{
/*border: 2px solid red;*/
width: 100%;
max-width: 480px !important;
/*padding: 1rem 2rem;*/
margin-top: 14.3rem !important;
}
.container_block_1 p:nth-child(1){
font-size: 0.77rem;
font-family: Helvetica;
font-weight: bold;
}
.container_block_1 p:nth-child(2){
font-size: 1rem;
font-family: Helvetica;
font-weight: bold;
}
nav.tablet{
/*border: 2px solid yellow;*/
}
.container_block_2{
max-width: 100% !important;
}
.image:nth-child(2),
.image:nth-child(3) {
display:none;
}
.image{
width: 90%;
margin: auto;
}
.container_block_3{
width: 90%;
display: flex;
flex-direction: column;
}
.position{
width: 100%;
max-width: 480px !important;
}
.position p{
/*border: 2px solid red;*/
max-width: 90%;
}
.location,
.hours{
width: 80%;
max-width: 480px;
margin: 0.5rem auto;
}
footer{
max-width: 100%;
overflow-x: hidden;
}
footer div{
margin-top: -15px;
margin-left: 60px;
}
}
